.button{
	-fx-opacity: 0.75;
	-fx-background-color: #333333;
	-fx-color: white;
	-fx-text-fill: white;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.button:hover{
	-fx-opacity: 1;
}

#closeButton{
	-fx-background-color: #171717;
	-fx-opacity: 0.5;
	
}

#closeButton:hover{
	-fx-background-color: #333333;
}

#configButton{
	-fx-background-color: #171717;
	-fx-opacity: 0.5;
}

#configButton:hover{
	-fx-background-color: #333333;
}

.label{
	-fx-opacity: 0.8;
}

.text{
	-fx-opacity: 0.8;
}

.text-field{
	-fx-background-color: #777777;
	-fx-background-radius: 0;
}

.slider .track{
	-fx-background-color: #444444;
	-fx-background-radius: 0;
	-fx-pref-width: 10px;
	-fx-pref-height: 10px;
}

.slider .thumb{
	-fx-background-color: #777777;
	-fx-background-radius: 0;
	-fx-pref-width: 12px;
	-fx-pref-height: 12px;
}

.progress-bar {
	-fx-border-color: #333333;
	-fx-border-width: 4px;
}

.progress-bar .bar {
	-fx-accent: #333333;
}