.button{
	-fx-opacity: 0.75;
	-fx-background-color: #333333;
	-fx-color: WHITE;
	-fx-text-fill: BLACK;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-padding: 0;
}

.button:hover{
	-fx-opacity: 1;
}

.menu-buttons {
	-fx-background-color: transparent;
}

.game-buttons {
	-fx-opacity: 0.7;
	-fx-background-color: #000000;
}

.game-buttons:hover {
	-fx-opacity: 0.8;
	-fx-background-color: #333333;
}

.label {
	-fx-opacity: 1.0;
}

.hud-label {
	-fx-opacity: 1.0;
	-fx-stroke: black;
	-fx-stroke-width: 2px;
}

.text {
	-fx-opacity: 0.8;
}

.text-field {
	-fx-background-color: #777777;
	-fx-background-radius: 0;
}

.slider .track {
	-fx-background-color: #444444;
	-fx-background-radius: 0;
}

.slider .thumb {
	-fx-background-color: #777777;
	-fx-background-radius: 0;
	-fx-pref-width: 12px;
	-fx-pref-height: 12px;
}

.progress-bar {
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-opacity: 0.25;
	-fx-rotate: -90;
}

.progress-bar .bar {
	-fx-accent: #444444;
}

.choice-box .context-menu { 
	-fx-background-color: #171717;
}

.choice-box .menu-item:focused { 
	-fx-background-color: #777777;
}

.choice-box .menu-item > .label { 
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.choice-box .menu-item:focused > .label { 
	-fx-text-fill: black;
	-fx-font-size: 16;
}

.choice-box {
	-fx-background-color: #171717;
	-fx-mark-color: #777777;
}

.choice-box > .label { 
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-insets: 0,0,0;
	-fx-background-radius: 0;
}

.scroll-pane .scroll-bar .thumb {
	-fx-background-color: #777777;
	-fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0;
}


.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
	-fx-padding: 0;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 0 0;
}
